option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fastfashion.wsgi:application

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python manage.py collectstatic --noinput

