# .ebextensions/django.config
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fastfashion.wsgi:application

  # Static files are now handled by WhiteNoise, so we don't need the proxy
  # aws:elasticbeanstalk:environment:proxy:staticfiles:
  #   /static: staticfiles

  aws:elasticbeanstalk:application:environment:
    ALLOWED_HOSTS: "fastfashion-env.eba-av2bdkme.us-east-1.elasticbeanstalk.com"
    DEBUG: "False"

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/current && python manage.py collectstatic --noinput --clear"
    leader_only: false
